<footer>
    <p id="footer-linebreak">0x03</p>
    <ul class="icon-list">
        <li>
            <a href="https://github.com/EthanC2">
                <img class="icon-list-item" target="_blank" src="assets/images/github_logo_dark.png" 
                 alt="link to my GitHub account">
            </a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/ethan-r-cox/">
                <img class="icon-list-item" target="_blank" src="assets/images/linkedin_logo_dark.png" 
                 alt="link to my LinkedIn account">
            </a>
        </li>
        <li>
            <a href="https://twitter.com/ethanrcox">
                <img class="icon-list-item" target="_blank" src="assets/images/twitter_logo_dark.png" 
                 alt="link to my Twitter account">
            </a>
        </li>
    </ul>

    <p>&copy; 2020-2022 Copyright: ethancox.dev</p>
</footer>