.navbar {
    margin: 0 0 30px 0;
    padding: 0;
    width: 100vw;
    font-size: 1.2rem;

    display: grid;
    grid-template-columns: 1fr auto 1fr;
    column-gap: 20px;
}

.rust {
    color: hsl(22, 64%, 36%);
}

.branding {
    margin-left: 2em;
    font-size: 1.5em;
    font-family: 'Work Sans';
}

.navbar-item-list {
    list-style-type: none;
    justify-self: center;
    padding: 0;
    overflow: hidden;
}

.nav-item {
    float: right;
}

.nav-link {
    display: block;
    position: relative;
    text-align: center;
    padding: 1rem;
    color: var(--color-text-primary);
    text-decoration: none;

    background-image: linear-gradient(var(--color-accent-light), var(--color-accent-light));
    background-size: 0% 0.1em;
    background-position-y: 90%;
    background-position-x: 50%;
    background-repeat: no-repeat;
    transition: background-size 0.3s ease-out;
}

.nav-link:hover, .nav-link:focus, .nav-link:active {
    background-size: 80% 0.2em;
}

.active-link {
    background-image: linear-gradient(var(--color-accent-light), var(--color-accent-light));
    background-size: 80% 0.2em;
    background-position-y: 90%;
    background-position-x: 50%;
    background-repeat: no-repeat;
}



@media screen and (max-width: 600px) {
    .navbar {
        grid-template-columns: 1fr;
    }

    .nav-item {
        float: none;
        width: 100%;
    }

    .branding {
        margin-top: 1rem;
        margin-left: 0px;
        justify-self: center;
    }
  }